body {
    background: url("/static/top-view-school-supplies-with-copy-space.jpg") no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background: rgba(0, 0, 0, 0.6); /* Semi-transparent overlay for better contrast */
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5);
}

img {
    width: 550px;
    border-radius: 70px;
    border: 2px solid white;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5);
    max-width: 90%;
}

/* Button Group */
.btn-group {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

/* Buttons */
.btn {
    padding: 15px 80px;
    font-size: larger;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    width: 250px;
    border-radius: 50px;
    border: 2px solid white;
    transition: 0.3s ease-in-out;
}

/* Admin Button */
#admin-btn {
    background-color: transparent;
    color: white;
}

#admin-btn:hover {
    background-color: white;
    color: #2d2a2e;
}

/* User Button */
#user-btn {
    background-color: white;
    color: #2d2a2e;
}

#user-btn:hover {
    background-color: transparent;
    color: white;
}
.welcome {
    color:white;
    padding-top: 30px;
}

.role {
    color:white
}